html {
    scroll-behavior: smooth;
}

nav{
    background-color: rgba(111, 112, 117, 0.4);
}

#hero{
    background-image: url(images/sunset.jpg);
    background-position: center;
    background-size:cover; 
    background-repeat: none;
    background-attachment: fixed;
    height:100vh;
    max-width: 100%;
    min-height: 100%;
}

#hero-text{
    font-size: 32pt;
    position: relative;
    animation-name: hero-text-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    color:white;
}

@keyframes hero-text-move {
    0% {
        /* position:relative; */
        top: 10%;
        opacity: 0;
    }

    10% {
        opacity:0;
    }

    95%{
        opacity:1;
    }

    100% {
        /* position:relative; */
        top: 0%;
        opacity:0;
    }
}

#about-at{
    
}

.section{
    height:100vh;
    background-color: #6f7075;
    color:white;
}

.down-arr{
    color:white;
    border:white 1px solid;
    border-radius:15px;
    width:30px;
    height:30px;
    margin:0;
    padding:0 0 0 6.5px;
}

@media (max-width: 768px) {
    #hero {
        background-image: url(images/sunset-50.jpg);
        background-attachment: scroll;
    }
}   